@import 'src/assets/variables.scss';
@import 'src/assets/animations.scss';

.wrapper {
	margin-top: 76px;
	display: flex;
	flex-direction: column;

	.content {
		display: flex;
		flex-direction: column;

		.top {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.topLeft {
				max-width: 300px;
				font-size: 32px;
				font-style: normal;
				font-weight: 700;
				line-height: 135%; /* 43.2px */
			}
		}

		.bottom {
			display: flex;
			justify-content: space-between;
			
			
		}
	}
}

.visible {
	display: flex;
    animation: opacity 1s;
}

.hidden {
	display: none;
    animation: opacity 1s;
}
