@import 'src/assets/variables.scss';
@import 'src/assets/animations.scss';

.basket {
    cursor: pointer;
    margin-right: 21px;

    .visible {
        display: block;
        animation: opacity 0.5s;
    }
    .hidden {
        display: none;
    }
}