


$textNormal: #fff;
$textBlack: #1B1F22;
$bgWhite: #fff;
$borderLink: #FF3E41;
$colorLink: #cbcecf;
$borderBottom: #292b32;
$borderCenter: #CBCECF;
$borderBottom2: #303638;
$bgTwo: #25292C;
$textGray: #7f8589;

$zIdex100: 100;
$zIdex50: 50;
$zIdex10: 10;
$zIdex5: 5;
$zIdex1: 1;
$zIdex0: 0;
$zIdex-1: -1;

